
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <h4 class="modal-title" id="myTurmaLabel" data-translate="colegioEsplanadaApp.turma.home.createOrEditLabel" ng-show="vm.turma.id == null">criar</h4>
        <h4 class="modal-title" id="myTurmaLabel" data-translate="colegioEsplanadaApp.turma.home.editar" ng-show="vm.turma.id != null">editar</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.turma.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.turma.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="colegioEsplanadaApp.turma.nome" for="field_nome">Nome</label>
            <input type="text" class="form-control" name="nome" id="field_nome"
                    ng-model="vm.turma.nome"
                     />
        </div>
        <div class="form-group">
			<label class="control-label" data-translate="colegioEsplanadaApp.turma.disciplina" for="field_atividades">Disciplina</label>
            <md-select name="disciplina" ng-model="vm.turma.disciplina" required>
				<md-option ng-repeat="disciplina in vm.disciplinas" ng-value="disciplina" >
					{{disciplina}}
				</md-option>
			</md-select>
        </div>
        
        
        <div class="row" >
			<div class="col-sm-12">
				<div class="panel-subheading">
					<div class="panel-subtitle"><h4 class="ng-scope">Associar alunos</h4></div>
				</div>
			</div>
		
			<div class="col-sm-12 item-manager">
				<div class="col-sm-12">
					<div class="row no-margin-left add-item-row">
						<div class="col-sm-10">
							<label class="control-label" data-translate="colegioEsplanadaApp.turma.aluno" for="field_alunos">aluno</label>
				            <md-select name="usuario" ng-model="vm.turma.usuarios">
								<md-option ng-repeat="usuario in vm.usuarios" ng-value="usuario" >
									{{usuario.login}}
								</md-option>
							</md-select>
						</div>
						<div style="float:right;margin-top:45px;">
							<button type="button" ng-click="addUsuario();" class="btn btn-default" >
								<i class="glyphicon glyphicon-plus text-success"></i> <span class="text-success"> Adicionar</span>
							</button>
						</div>
					</div>
	
					<div class="col-sm-12" >
						<div class="row" style="margin: 15px !important; display: inline;">
							<div id="grid1" ui-grid="gridUsuarios" class="grid no-padding-bottom"></div>
						</div>
					</div>
			</div>
		</div>
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ui-sref="turma" style="float:left">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>



<script type="text/ng-template" id="buttons.html">
		<div class="show-on-row-hover action-buttons-cell">
			<a type="submit" ui-sref="case.show({id:row.entity.id})" class="btn btn-link btn-xs btn-ui-grid-xs" title="Visualizar">
				<span class="glyphicon glyphicon-eye-open text-info"></span>
			</a>
			
			<span has-any-role="ROLE_ADMIN, ROLE_ADMIN_NACIONAL, ROLE_ADMIN_REGIONAL">
				<button type="submit" ng-click="grid.appScope.delete(row.entity.id)" class="btn btn-link btn-xs btn-ui-grid-xs" title="Excluir">
					<span class="glyphicon glyphicon-trash text-danger"></span>
				</button>
			</span>
		</div>
	</script>
